h1{
    font-size: 100px;
    text-align: center;
    color: white;
    text-decoration: underline;
}
.zone
{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content:baseline;
    align-items: center;
    left: 29%;
    background-color: white;
    width: 50rem;
    height: 30rem;
}
#text{
    font-size: 27px;
}
#image{
    padding-top: 10px;
    width: 300px;
    height: 300px;
    border-radius:200px;
}